<template>
  <button
    :type="type"
    :class="componentClasses"
    v-on="$listeners"
    class="app-button"
  >
    <slot/>
  </button>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';

@Component
export default class AppButton extends Vue {
  @Prop({
    type: String,
    default: 'button',
    validator: (val: string) => ['button', 'submit'].includes(val),
  }) readonly type: string;

  @Prop({
    type: String,
    default: 'filled',
    validator: (val: string) => ['filled', 'outlined', 'text'].includes(val),
  }) readonly view: string;

  get componentClasses() {
    const viewModifier = `app-button_view_${this.view}`;
    return [viewModifier];
  }
}
</script>

<style lang="scss" scoped>
.app-button {
  padding: 4px 8px;

  font-family: inherit;
  font-size: inherit;
  color: inherit;

  border: 1px solid transparent;
  border-radius: 2px;
  cursor: pointer;

  transition: all .3s ease;

  &:focus {
    outline: none;
  }

  &_view {
    &_filled {
      color: #fff;

      background-color: $purple;

      &:hover, &:focus {
        background-color: darken($purple, 10%);
      }
    }

    &_outlined {
      color: inherit;

      border-color: $purple;
      background-color: transparent;

      &:hover, &:focus {
        background-color: lighten($purple, 35%);
      }
    }

    &_text {
      text-transform: uppercase;

      background-color: transparent;

      &:hover, &:focus {
        background-color: lighten($purple, 35%);
      }
    }
  }
}
</style>
