<template>
  <validation-provider
    :name="$attrs.fieldName"
    :rules="$attrs.rules"
    v-slot="{ errors, failed }"
    slim
  >
    <div
      :class="{ 'app-field_state_invalid': failed }"
      class="app-field"
    >
      <app-input
        :value="value"
        :type="$attrs.type"
        :id="$attrs.id"
        :name="$attrs.name"
        :placeholder="$attrs.placeholder"
        class="app-field__input"
        @input="$emit('input', $event)"
        @focus="isInFocus = true"
        @blur="isInFocus = false"
      />
      <app-input-error
        :text="errors[0]"
        :is-visible="isFresh && isInFocus"
        class="app-field__error"
      />
    </div>
  </validation-provider>
</template>

<script lang="ts">
import Vue from 'vue';
import { Component, Prop, Watch } from 'vue-property-decorator';
import { ValidationProvider } from 'vee-validate';

@Component({
  components: {
    ValidationProvider,
  },
})
export default class AppField extends Vue {
  @Prop({
    type: String,
    default: '',
  }) readonly value: string;

  @Prop({
    type: Number,
    default: 3000,
  }) readonly errorFreshTime: number;

  isFresh: boolean = false;

  freshTimerId: any;

  isInFocus: boolean = false;

  @Watch('value') onValueChanged() {
    this.updateFreshStatus();
  }

  @Watch('isInFocus') onIsInFocusChanged(val: boolean) {
    if (val) {
      this.updateFreshStatus();
    }
  }

  updateFreshStatus() {
    this.isFresh = true;
    clearTimeout(this.freshTimerId);
    this.freshTimerId = setTimeout(() => {
      this.isFresh = false;
    }, this.errorFreshTime);
  }
}
</script>

<style lang="scss" scoped>
.app-field {
  position: relative;

  &__error {
    position: absolute;
    left: 0;
    top: 36px;
    z-index: 10;
  }

  &_state {
    &_invalid {
      .app-field__input {
        border-color: $red;
      }
    }
  }
}
</style>
