<template>
  <transition name="error-slide">
    <span
      v-show="errorIsVisible"
      class="app-input-error"
      v-text="text"
    />
  </transition>
</template>

<script>
export default {
  name: 'AppInputError',
  props: {
    text: {
      type: String,
      default: '',
    },
    isVisible: {
      type: Boolean,
      default: false,
    },
  },
  computed: {
    errorIsVisible() {
      return this.text && this.isVisible;
    },
  },
};
</script>

<style lang="scss" scoped>
.app-input-error {
  display: block;
  padding: 4px;

  font-size: .8em;

  background-color: $light-red;
}
</style>
