<template>
  <input
    :value="value"
    :type="type"
    :id="id"
    :name="name"
    :placeholder="placeholder"
    :disabled="disabled"
    :class="componentClasses"
    class="app-input"
    @input="onInput"
    @focus="$emit('focus')"
    @blur="$emit('blur')"
  >
</template>

<script lang="ts">
import {
  Component,
  Prop,
  Emit,
  Vue,
} from 'vue-property-decorator';

@Component
export default class AppInput extends Vue {
  @Prop({
    type: String,
    default: '',
  }) readonly value: string;

  @Prop({
    type: String,
    default: 'text',
    validator: (val: string) => ['text', 'url', 'email', 'password', 'search'].includes(val),
  }) readonly type: string;

  @Prop({
    type: String,
    default: 'default',
  }) readonly size: string;

  @Prop({
    type: String,
    default: null,
  }) readonly id: string;

  @Prop({
    type: String,
    default: null,
  }) readonly name: string;

  @Prop({
    type: String,
    default: '',
  }) readonly placeholder: string;

  @Prop({
    type: Boolean,
    default: false,
  }) readonly disabled: boolean;

  get componentClasses() {
    const sizeModifier = `app-input_size_${this.size}`;
    return [sizeModifier];
  }

  @Emit('input')
  onInput(event: any) {
    return event.target.value;
  }
}
</script>

<style lang="scss" scoped>
.app-input {
  height: 32px;
  padding: 0 8px;

  font-family: inherit;
  font-size: .8em;

  border: 1px solid $light-purple;
  border-radius: 2px;

  transition: all .3s ease;

  &:hover {
    border: 1px solid darken($light-purple, 10%);
  }

  &:focus {
    border: 1px solid darken($light-purple, 15%);
    outline: none;
  }

  &:disabled {
    background: $gray;
    border: inherit;
  }

  &_size {
    &_default {
      width: 280px;
    }
  }
}
</style>
