<template>
  <a
    v-if="isExternal"
    :href="to"
    :class="componentClasses"
    class="app-link"
    v-on="$listeners"
  >
    <slot/>
  </a>
  <router-link
    v-else
    :to="to"
    :class="componentClasses"
    class="app-link"
    v-on="$listeners"
  >
    <slot/>
  </router-link>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';

@Component
export default class AppLink extends Vue {
  @Prop({
    type: Boolean,
    default: false,
  }) readonly isExternal: boolean;

  @Prop({
    type: [String, Object],
    default: '#',
  }) readonly to: string | object;

  @Prop({
    type: String,
    default: 'default',
  }) readonly type: string;

  get componentClasses() {
    const typeModifier = `app-link_type_${this.type}`;
    return [typeModifier];
  }
}
</script>

<style lang="scss" scoped>
.app-link {
  text-decoration: none;

  transition: all .3s ease;

  &_type {
    &_default {
      color: $blue;

      &:hover, &:focus {
        color: darken($blue, 15%);
      }
    }

    &_button {
      display: inline-block;
      padding: 4px 8px;

      color: #fff;

      background-color: $purple;
      border-radius: 2px;

      &:hover, &:focus {
        background-color: darken($purple, 10%);
      }
    }
  }
}
</style>
