<template>
  <validation-observer
    tag="div"
    class="sign-in-form"
    v-slot="{ handleSubmit }"
  >
    <form
      class="app-form"
      @submit.prevent="handleSubmit(onSubmit)"
    >
      <app-field
        v-model="formData.email"
        fieldName="E-mail"
        rules="required|email"
        type="email"
        id="user-email"
        name="userEmail"
        placeholder="example@mail.ru"
        class="app-form__field"
      />
      <app-field
        v-model="formData.password"
        fieldName="Пароль"
        rules="required"
        type="password"
        id="user-password"
        name="userPassword"
        placeholder="Пароль"
        class="app-form__field"
      />
      <app-button
        type="submit"
      >
        Войти
      </app-button>
    </form>
  </validation-observer>
</template>

<script lang="ts">
import { Component, Emit, Vue } from 'vue-property-decorator';
import { ValidationObserver } from 'vee-validate';

import { SignInFormData } from '@/types';

@Component({
  components: {
    ValidationObserver,
  },
})
export default class SignInForm extends Vue {
  formData: SignInFormData = {
    email: '',
    password: '',
  };

  @Emit('submit')
  onSubmit() {
    return this.formData;
  }
}
</script>
