<template>
  <validation-observer
    tag="div"
    class="registration-form"
    v-slot="{ handleSubmit }"
  >
    <form
      class="app-form"
      @submit.prevent="handleSubmit(onSubmit)"
    >
      <app-field
        v-model="formData.email"
        fieldName="E-mail"
        rules="required|email"
        type="email"
        id="user-email"
        name="userEmail"
        placeholder="example@mail.ru"
        class="app-form__field"
      />
      <app-field
        v-model="formData.password"
        fieldName="Пароль"
        rules="required"
        type="password"
        id="user-password"
        name="userPassword"
        placeholder="Пароль"
        class="app-form__field"
      />
      <app-field
        v-model="formData.username"
        fieldName="Имя пользователя"
        rules="max:31"
        type="text"
        id="user-username"
        name="userUsername"
        placeholder="Имя пользователя"
        class="app-form__field"
      />
      <app-button type="submit">
        Зарегистрироваться
      </app-button>
    </form>
  </validation-observer>
</template>

<script lang="ts">
import { Component, Emit, Vue } from 'vue-property-decorator';
import { ValidationProvider, ValidationObserver } from 'vee-validate';

import { NewUser } from '@/types';

@Component({
  components: {
    ValidationProvider,
    ValidationObserver,
  },
})
export default class RegistrationForm extends Vue {
  formData: NewUser = {
    email: '',
    password: '',
    username: '',
  };

  @Emit('submit')
  onSubmit() {
    return this.formData;
  }
}
</script>
