<template>
  <transition-group
    name="notifications"
    tag="ul"
    class="notification-list"
  >
    <li
      v-for="item in notificationList"
      :key="`notifications-item-${item.id}`"
      class="notification-list__item"
    >
      <notification-item
        v-bind="item"
      />
    </li>
  </transition-group>
</template>

<script>
import eventBus from '../eventBus';
import NotificationItem from './NotificationItem';

export default {
  name: 'NotificationList',
  components: {
    NotificationItem,
  },
  props: {
    delay: {
      type: Number,
      default: 3000,
      validator(value) {
        return value >= 0;
      },
    },
  },
  data() {
    return {
      notificationList: [],
      idCounter: 0,
    };
  },
  mounted() {
    eventBus.$on('add', this.addNotification);
  },
  methods: {
    addNotification(newNotification = {}) {
      const id = this.idCounter;
      this.notificationList.push({
        id,
        ...newNotification,
      });

      setTimeout(() => {
        const destroyedItemIndex = this.notificationList.findIndex(item => item.id === id);
        this.notificationList.splice(destroyedItemIndex, 1);
      }, this.delay);

      this.idCounter += 1;
    },
  },
};
</script>

<style lang="scss" scoped>
.notification-list {
  position: fixed;
  z-index: 100;
  bottom: 24px;
  right: 24px;
  width: 300px;

  &__item {
    margin-bottom: 12px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.notifications-enter-active, .notifications-leave-active {
  transition: all .2s;
}

.notifications-enter, .notifications-leave-to {
  opacity: 0;
  transform: translateY(20px);
}
</style>
