<template>
  <div
    :class="`notification-item_view_${view}`"
    class="notification-item"
  >
    <h5
      class="notification-item__title"
      v-text="titleText"
    />
    <p
      class="notification-item__message"
      v-text="message"
    />
  </div>
</template>

<script>
export default {
  name: 'NotificationItem',
  props: {
    title: {
      type: String,
      default: null,
    },
    message: {
      type: String,
      default: '',
    },
    view: {
      type: String,
      default: 'error',
      validator(value) {
        return ['success', 'error'].includes(value);
      },
    },
  },
  computed: {
    titleText() {
      if (!this.title) {
        return this.view === 'success' ? 'Успех' : 'Ошибка';
      }

      return this.title;
    },
  },
};
</script>

<style lang="scss" scoped>
.notification-item {
  padding: 8px;

  &__title {
    font-size: 1em;
    font-weight: 500;
    margin-bottom: 4px;
  }

  &__message {
    font-size: .8em;
  }

  &_view {
    &_error {
      background-color: $light-red;
    }

    &_success {
      background-color: $light-green;
    }
  }
}
</style>
