<template>
  <aside class="the-aside">
    сайдбар
  </aside>
</template>

<script>
export default {
  name: 'TheAside',
};
</script>

<style lang="scss" scoped>
.the-aside {
  width: 300px;
  height: calc(100vh - 60px);
  padding: 12px;

  background: $light-gray;
}
</style>
