<template>
  <header class="the-header">
    <app-content-wrapper class="the-header__wrapper">
      <router-link
        to="/"
        class="the-header__logo"
      >
        LMS
      </router-link>
      <div class="the-header__right">
        <the-header-auth/>
      </div>
    </app-content-wrapper>
  </header>
</template>

<script>
import TheHeaderAuth from '@/components/layout/TheHeaderAuth';

export default {
  name: 'TheHeader',
  components: {
    TheHeaderAuth,
  },
};
</script>

<style lang="scss" scoped>
.the-header {
  height: 60px;

  background: #fff;
  border-bottom: 1px solid $gray;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }

  &__logo {
    font-size: 28px;
    font-weight: bold;
    text-decoration: none;
    color: inherit;
  }
}
</style>
