<template>
  <div class="the-header-auth">
    <transition
      name="fade"
      mode="out-in"
    >
      <div
        v-if="user"
        key="authorized"
        class="the-header-auth__authorized"
      >
        <app-link
          :to="{ name: 'profile' }"
          class="the-header-auth__link the-header-auth__avatar-link"
        >
          <app-avatar :user-info="userInfo"/>
        </app-link>
        <app-link
          class="the-header-auth__link"
          is-external
          @click.prevent="signOut"
        >
          Выход
        </app-link>
      </div>
      <div
        v-else
        key="unauthorized"
        class="the-header-auth__unauthorized"
      >
        <app-link
          :to="{ name: 'auth' }"
          type="button"
          class="the-header-auth__link"
        >
          Вход
        </app-link>
        <app-link
          :to="{ name: 'registration' }"
          class="the-header-auth__link"
        >
          Регистрация
        </app-link>
      </div>
    </transition>
  </div>
</template>

<script>
import { mapState, mapMutations } from 'vuex';

export default {
  name: 'TheHeaderAuth',
  computed: {
    ...mapState('profile', [
      'user',
    ]),
    userInfo() {
      const { first_name: firstName, last_name: lastName } = this.user;

      return {
        firstName,
        lastName,
      };
    },
  },
  methods: {
    ...mapMutations('profile', [
      'setUser',
    ]),
    signOut() {
      localStorage.removeItem('accessToken');
      this.setUser(null);
    },
  },
};
</script>

<style lang="scss" scoped>
.the-header-auth {
  &__authorized {
    display: flex;
    align-items: center;
  }

  &__link {
    margin-right: 16px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__avatar-link {
    display: block;
  }
}
</style>
