<template>
  <div class="profile-page">
    <h1>Профиль</h1>
    <profile-form
      class="profile-page__form"
      @submit="onSubmit"
    />
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { State, Action } from 'vuex-class';

import ProfileForm from '@/components/pages/profile/ProfileForm.vue';

@Component({
  components: {
    ProfileForm,
  },
})
export default class ProfilePage extends Vue {
  @State('user', { namespace: 'profile' }) user: any;

  @Action('updateUser', { namespace: 'profile' }) updateUser: any;

  async onSubmit(userData: any) {
    try {
      this.updateUser({
        id: this.user.id,
        data: userData,
      });

      this.$notify({
        message: 'Данные сохранены',
        view: 'success',
      });
    } catch (err) {
      this.$notify({
        message: 'Ошибка при сохранении',
      });
    }
  }
}
</script>

<style lang="scss" scoped>
.profile-page {
  &__form {
    width: 280px;
  }
}
</style>
