<template>
  <div class="app-avatar">
    <span
      v-if="needShowInitials"
      class="app-avatar__initials"
      v-text="userInitials"
    />
    <img
      v-else
      :src="avatarUrl"
      :alt="userInitials"
      class="app-avatar__image"
    >
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';

declare interface UserInfo {
  avatarUrl?: string;
  firstName?: string;
  lastName?: string;
}

@Component
export default class AppAvatar extends Vue {
  defaultAva: string = require('@/assets/images/default-avatar.jpg');

  @Prop({
    type: Object,
    default: () => ({}),
  }) readonly userInfo: UserInfo;

  get userInitials() {
    const { firstName, lastName } = this.userInfo;

    if (firstName && lastName) {
      return `${firstName[0]}${lastName[0]}`;
    }

    return '';
  }

  get needShowInitials() {
    return !this.userInfo.avatarUrl && this.userInitials;
  }

  get avatarUrl() {
    return this.userInfo.avatarUrl || this.defaultAva;
  }
}
</script>

<style lang="scss" scoped>
.app-avatar {
  width: 50px;
  height: 50px;

  font-size: 24px;
  color: #fff;
  text-align: center;

  background: $dark-blue;
  border-radius: 50%;
  overflow: hidden;

  &__initials {
    display: block;
    margin-top: 50%;

    transform: translateY(-50%);
  }

  &__image {
    width: 100%;
  }
}
</style>
