<template>
  <div class="app-content-wrapper">
    <slot/>
  </div>
</template>

<script>
export default {
  name: 'AppContentWrapper',
};
</script>

<style lang="scss" scoped>
.app-content-wrapper {
  width: 1600px;
  margin: 0 auto;
}
</style>
