<template>
  <transition name="fade">
    <div
      v-show="value"
      class="app-popup"
      v-click-outside="onClickOutside"
    >
      <slot/>
    </div>
  </transition>
</template>

<script>
import vClickOutside from 'v-click-outside';

export default {
  name: 'AppPopup',
  directives: {
    clickOutside: vClickOutside.directive,
  },
  props: {
    value: {
      type: Boolean,
      default: false,
    },
  },
  methods: {
    onClickOutside() {
      this.$emit('input', false);
    },
  },
};
</script>

<style lang="scss" scoped>
.app-popup {
  position: absolute;

  background-color: #fff;
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
    0px 8px 10px 1px rgba(0, 0, 0, 0.14),
    0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}
</style>
