<template>
  <validation-observer
    tag="div"
    class="profile-form"
    v-slot="{ handleSubmit }"
  >
    <form
      class="app-form"
      @submit.prevent="handleSubmit(onSubmit)"
    >
      <app-field
        v-model="formData.email"
        fieldName="E-mail"
        rules="required|email"
        type="email"
        id="user-email"
        name="userEmail"
        placeholder="example@mail.ru"
        class="app-form__field"
      />
      <app-field
        v-model="formData.username"
        fieldName="Имя пользователя"
        rules="max:31"
        type="text"
        id="user-username"
        name="userUsername"
        placeholder="Имя пользователя"
        class="app-form__field"
      />
      <app-field
        v-model="formData.firstName"
        fieldName="Имя"
        rules="alpha|max:31"
        type="text"
        id="user-firstname"
        name="userFirstName"
        placeholder="Имя"
        class="app-form__field"
      />
      <app-field
        v-model="formData.lastName"
        fieldName="Фамилия"
        rules="alpha|max:31"
        type="text"
        id="user-lastname"
        name="userLastName"
        placeholder="Фамилия"
        class="app-form__field"
      />
      <app-button type="submit">
        Сохранить
      </app-button>
    </form>
  </validation-observer>
</template>

<script lang="ts">
import Vue from 'vue';
import { Component, Emit, Watch } from 'vue-property-decorator';
import { State } from 'vuex-class';
import { ValidationProvider, ValidationObserver } from 'vee-validate';

import { ProfileFormData, AuthUser } from '@/types';

@Component({
  components: {
    ValidationProvider,
    ValidationObserver,
  },
})
export default class ProfileForm extends Vue {
  @State('user', { namespace: 'profile' }) user: any;

  formData: ProfileFormData = {
    email: '',
    username: '',
    firstName: null,
    lastName: null,
  };

  @Watch('user', { immediate: true }) onUserChanged(value: AuthUser) {
    if (value) {
      const {
        email,
        username,
        firstName,
        lastName,
      } = value;

      this.formData = {
        email,
        username,
        firstName,
        lastName,
      };
    }
  }

  @Emit('submit')
  onSubmit() {
    return this.formData;
  }
}
</script>
