<template>
  <div class="app">
    <the-header class="app__header"/>
    <the-aside class="app__aside"/>
    <main class="app__main">
      <transition
        name="page-slide"
        mode="out-in"
      >
        <router-view/>
      </transition>
    </main>
    <app-notifications/>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import TheHeader from './components/layout/TheHeader.vue';
import TheAside from './components/layout/TheAside.vue';

@Component({
  components: {
    TheHeader,
    TheAside,
  },
})
export default class App extends Vue {}
</script>

<style lang="scss" scoped>
.app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  font-size: 18px;
  color: $dark-blue;

  &__aside {
    position: fixed;
    left: 0;
    top: 60px;
  }

  &__main {
    margin-left: 300px;
    padding: 24px;
  }
}
</style>
