.page-slide {
  &-enter-active,
  &-leave-active {
    transform: translateX(0);
    transition: all .3s ease;
  }
  &-enter,
  &-leave-to {
    transform: translateX(-20px);
    opacity: 0;
  }
}

.fade {
  &-enter-active,
  &-leave-active {
    opacity: 1;
    transition: all .2s ease;
  }
  &-enter,
  &-leave-to {
    opacity: 0;
  }
}

.error-slide {
  &-enter-active,
  &-leave-active {
    transform: translateX(0);
    opacity: 1;
    transition: all .3s ease;
  }
  &-enter,
  &-leave-to {
    transform: translateX(-10px);
    opacity: 0;
  }
}
