body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 0 0 .7em;
}

h2 {
  margin: 0 0 .65em;
}

h5 {
  margin: 0 0 .5em;
}

p {
  margin: 0 0 1em;

  &:last-child {
    margin: 0;
  }
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

@import "transitions";
@import "components";
