<template>
  <div class="registration-page">
    <h1>Регистрация</h1>
    <registration-form
      class="registration-page__form"
      @submit="onSubmit"
    />
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { Mutation } from 'vuex-class';

import RegistrationForm from '@/components/pages/registration/RegistrationForm.vue';

import { Auth as AuthService } from '@/services';

import { NewUser } from '@/types';

@Component({
  components: {
    RegistrationForm,
  },
})
export default class RegistrationPage extends Vue {
  @Mutation('setUser', { namespace: 'profile' }) setUser: any;

  async onSubmit({ email, password, username }: NewUser) {
    try {
      const newUserData: NewUser = {
        email,
        password,
        username: username || email,
      };

      const response = await AuthService.register(newUserData);
      const authorizedUser = response && response.data.user;

      this.setUser(authorizedUser);
      this.$router.push({ name: 'home' });
    } catch (err) {
      this.$notify({
        message: 'Ошибка регистрации',
      });
    }
  }
}
</script>

<style lang="scss" scoped>
.registration-page {
  &__form {
    width: 280px;
  }
}
</style>
