<template>
  <div class="sign-in-page">
    <h1>Вход</h1>
    <sign-in-form
      class="sign-in-page__form"
      @submit="onSubmit"
    />
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { Mutation } from 'vuex-class';

import SignInForm from '@/components/pages/signIn/SignInForm.vue';

import { Auth as AuthService } from '@/services';
import { SignInFormData } from '@/types';

@Component({
  components: {
    SignInForm,
  },
})
export default class SignInPage extends Vue {
  @Mutation('setUser', { namespace: 'profile' }) setUser: any;

  async onSubmit(userData: SignInFormData) {
    try {
      const response = await AuthService.login(userData);
      const authorizedUser = response && response.data.user;

      this.setUser(authorizedUser);
      this.$router.push({ name: 'home' });
    } catch (err) {
      this.$notify({
        message: 'Ошибка при авторизации',
      });
    }
  }
}
</script>

<style lang="scss" scoped>
.sign-in-page {
  &__form {
    width: 280px;
  }
}
</style>
